@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  color: set-text-color($primary-color);
  @include background;
  background: $primary-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe-UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }
  &.sm-heading {
    margin-bottom: 32px;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  .item-container {
    width: 100%;
    position: absolute;
  }

  .item {
    width: 100%;
    min-width: 252px;
    position: relative;
    min-height: 200px;
    margin-bottom: 100px;
    .img-container {
      position: absolute;
    }
    img {
      width: 100%;
      display: block;
      border: none;
      border-radius: 10%;
      &:hover {
        opacity: 0;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }
  .item-panel {
    color: lighten($complementary-color, 20);
    display: block;
    margin: 0.5rem auto;
    width: 90%;
    z-index: -1;
    border: solid 3px lighten($complementary-color, 20);
    border-radius: 25px;
    &:hover {
      @include easeOut;
    }
  }
  .item-note {
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
    height: 15rem;
  }
  .item-highlight {
    color: lighten($complementary-color, 20);
    margin-bottom: 0px;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: inline;
  //text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  border: 0;
  border-radius: 20px;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  // background: lighten($primary-color, 10);
  // border: 2px solid lighten($primary-color, 50);
  // color: set-text-color($primary-color);
  background: black;
  border: 2px solid lighten($primary-color, 50);
  color: white;
}

#main-footer {
  position: fixed;
  margin-bottom: 0px;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  bottom: 0;
}
.btn-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
//Spinner
.lds-spinner {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: lightgreen;
  display: inline-block;
  position: relative;
  width: 264px;
  height: 264px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #7fffd4;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.loading {
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 5;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@import "mobile";
